@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
--font-roboto: "Roboto", sans-serif; 
}

/* :root {
  font-family: "Inter", sans-serif;
  background: #000000;
} */

.scroll-fade {
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.scroll-theme::-webkit-scrollbar {
  width: 4px;
}
.scroll-theme::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-theme::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a855f7, #7e22ce);
  border-radius: 5px;
}
.scroll-theme::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #c084fc, #9333ea);
}